name: Integration Test

on:
  workflow_dispatch:

jobs:
  integration_test:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Download code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run integration tests
        run: ./gradlew integrationTest
        env:
          LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
